.App{
    max-width: 1500px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 20px;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #e9faff;
    padding: 14px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.chat-header{
    height: 70px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-inline: 10px;
    border-bottom: solid 1px #B4ABAB;
}
.chat-header img{
    width: 50px;
}
.chat-main{
    position: relative;
    height: calc(100vh - 224px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 10px;
    overflow-y: auto;
}
.message-container{
    font-family: 'Noto Color Emoji', sans-serif;
    background-color: #5300c0;
    max-width: 300px;
    width: fit-content;
    word-wrap: break-word;
    padding: 10px;
    line-height: 1.4;
    font-size: 20px;
    color: white;
}
.chat-footer{
    height: 62px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-inline: 10px;
    border-top: solid 1px #B4ABAB;
}
.message-input-container{
    height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 24px 70px;
    gap: 6px;
    align-items: center;
    border: solid 1px;
    border-radius: 6px;
    padding-left: 10px;
}
.emojiSelectorBtn{
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.1s;
}
.emojiSelectorBtn:hover{
    background-color: rgb(221, 221, 221);
}
.emojiSelectorBtn img{
    height: 24px;
    cursor: pointer;
}
.message-input-container input {
    height: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    /* font-family: 'Noto Color Emoji', sans-serif; */
}
.message-input-container button{
    height: 100%;
    border: none;
    border-radius: 0 6px 6px 0;
    font-size: 11px;
    cursor: pointer;
    transition: all 0.2s;
}
.message-input-container button:hover{
    background-color: rgb(221, 221, 221);
}